@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.about {
  background-color: #0a2850;
  padding: 108px 80px 173px;
  overflow: hidden;
  color: white;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  max-width: 251px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
  margin: 0;
}

.about__content {
  margin-left: auto;
  margin-top: 8px;
}

.about__paragraph {
  max-width: 660px;
  margin: 0 0 20px;
  padding: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-child {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulse 1.3s ease-in-out none infinite;
  z-index: 1;
}
